.Menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 50vh;
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  z-index: 4;
  background-color: rgba(16, 16, 16, 0.7);
  transition: 0.4s;
  overflow: hidden;
  height: 0;
}
