.Ex-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 25px;
}
.featured-img {
  max-height: 100vh;
  width: 100%;
}
.Ex-detail-image-container {
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  height: 100%;
}
.Ex-detail-info {
  box-sizing: border-box;
  padding-right: 25px;
}

@media screen and (max-width: 600px) {
  .Ex-detail-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
  }
  .featured-img {
    width: 100%;
  }
}

.language-btn {
  height: 30px;
  width: 50px;
  font-weight: bold;
}
.language-btn:hover {
  cursor: pointer;
}
.Ex-detail-image {
  max-height: 500px;
}
.Ex-detail-image > picture > img {
  padding: 50px;
  height: auto !important;
}
