backend:
  name: github
  repo: jonl17/listvitinn

media_folder: "/static/pics"
public_folder: "pics"

collections:
  - name: "exhibitions"
    label: "Exhibitions"
    folder: "/exhibitions"
    slug: "{{slug}}"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Opnun", name: "opnun", widget: "date" }
      - { label: "Lokun", name: "lokun", widget: "date" }
      - { label: "Mynd", name: "mynd", widget: "image" }
      - { label: "Staður", name: "stadur", widget: "string" }
      - { label: "Icelandic About", name: "about", widget: "text" }
      - { label: "English About", name: "about_en", widget: "text" }
      - { label: "Path", name: "path" }
  - name: "stadur"
    label: "Staður"
    folder: "/stadur"
    slug: "{{slug}}"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Mynd", name: "mynd", widget: "image" }
      - { label: "Location", name: "location", widget: "map" }
      - { label: "Icelandic About", name: "about", widget: "text" }
      - { label: "English About", name: "about_en", widget: "text" }
      - { label: "Path", name: "path" }
