.Footer-container {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  overflow: hidden;
}
.footer-contents {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  margin: 0;
  padding: 0;
}
.footer-contents > div {
  text-align: center;
  padding: 10px;
  margin: auto;
}
.footer-contents > li {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.test {
  height: 100px;
  width: 100px;
}
