.Footer-container {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  overflow: hidden;
}
.footer-contents {
  list-style: none;
  display: grid;
  grid-template-columns: 100px 150px auto;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-template-areas: "right left ... ";
}
.footer-contents > div.footer-icon {
  text-align: center;
  padding: 10px;
  margin: auto;
  grid-area: right;
}
.footer-contents > div.footer-info {
  grid-area: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 25px;
}
.footer-icon {
  height: 100px;
  width: 100px;
}
